<% content_for :page_title do %>
    <%= t('add_invoice.page_title') %>
<% end %>

<% content_for :page_content do %>
    <h1 class="page-header"><%= t('add_invoice.content_heading') %></h1>
    <form id="addInvoiceForm" method="post">
        <div class="form-group">
            <label class="control-label" for="partner"><%= t('add_invoice.form.partner') %></label>
            <select class="form-control" id="partner" name="invoice[partner]">
                <% partners.each do |partner| %>
                    <option value="<%= partner.id %>">
                        <% if partner.company_name.empty? %>
                            <%= "#{partner.first_name} #{partner.last_name}" %>
                        <% else %>
                            <%= "#{partner.company_name}" %>
                        <% end %>
                    </option>
                <% end %>
            </select>
            <span class="help-block" style="display: none;"></span>
        </div>

        <div class="form-group">
            <label class="control-label" for="deal_date"><%= t('add_invoice.form.deal_date') %></label>
            <input type="date" class="form-control" id="deal_date" name="invoice[deal_date]">
            <span class="help-block" style="display: none;"></span>
        </div>

        <div class="form-group">
            <label class="control-label"><%= t('add_invoice.form.products_services') %></label>
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <td width="50%"><%= t('add_invoice.form.table.description') %></td>
                        <td width="10%"><%= t('add_invoice.form.table.unit') %></td>
                        <td width="10%"><%= t('add_invoice.form.table.quantity') %></td>
                        <td width="10%"><%= t('add_invoice.form.table.unit_price') %></td>
                        <td width="10%"><%= t('add_invoice.form.table.discount') %></td>
                        <td width="10%"><%= t('add_invoice.form.table.actions') %></td>
                    </tr>
                </thead>

                <tbody id="invoiceItems">
                    <tr>
                        <td><textarea rows="1" class="form-control" name="invoice[items][description][1]"></textarea></td>
                        <td><input type="text" class="form-control" name="invoice[items][unit][1]"></td>
                        <td><input type="number" min="0.01" step="0.01" class="form-control" name="invoice[items][quantity][1]"></td>
                        <td><input type="number" min="0.01" step="0.01" class="form-control" name="invoice[items][unit_price][1]"></td>
                        <td><input type="number" min="0.01" step="0.01" class="form-control" name="invoice[items][discount][1]"></td>
                        <td><a class="btn btn-danger btn-xs deleteItem"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <button id="addItem" class="btn btn-default"><%= t('add_invoice.form.add_item') %></button>
        <button type="submit" class="btn btn-primary"><%= t('add_invoice.form.submit') %></button>
    </form>

    <table id="samples" style="display: none;">
        <tr class="sample_item">
            <td><textarea rows="1" class="form-control" name="invoice[items][description][{i}]"></textarea></td>
            <td><input type="text" class="form-control" name="invoice[items][unit][{i}]"></td>
            <td><input type="number" min="0.01" step="0.01" class="form-control" name="invoice[items][quantity][{i}]"></td>
            <td><input type="number" min="0.01" step="0.01" class="form-control" name="invoice[items][unit_price][{i}]"></td>
            <td><input type="number" min="0.01" step="0.01" class="form-control" name="invoice[items][discount][{i}]"></td>
            <td><a class="btn btn-danger btn-xs deleteItem"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>

        <input type="hidden" id="item_counter" value="1">
    </table>

    <div class="result alert" role="alert" style="display: none;"></div>
<% end %>

<% content_for :footer_assets do %>
    <script type="text/javascript" src="<%= url('/assets/js/custom/add_invoice.js') %>"></script>
<% end %>