<% content_for :page_title do %><%= t('login.page_title') %><% end %>

<% content_for :page_content do %>
	<div class="medium-6 medium-centered large-4 large-centered columns">
		<form id="loginForm" method="post">
			<div class="log-in-form">
				<h4 class="text-center"><%= t('login.form.heading') %></h4>
				<label><%= t('login.form.username') %>:
					<input type="text" name="username" placeholder="">
				</label>

				<label><%= t('login.form.password') %>:
					<input type="password" name="password">
				</label>

				<input id="remember-me" type="checkbox"><label for="remember-me"><%= t('login.form.remember_me') %></label>

				<p><input type="submit" class="button expanded" value="<%= t('login.form.submit') %>"></p>

				<p class="text-center"><a href="#"><%= t('login.other.forgotten_password') %></a></p>

				<p class="result" style="display: none;"></p>
			</div>
		</form>
	</div>
<% end %>

<% content_for :footer_assets do %>
	<script type="text/javascript" src="<%= url('/assets/js/custom/login.js') %>"></script>
<% end %>